{% extends "base.html.twig" %}

{% block body %}
    <h1>Sveiki, aš esu {{ user.getName() }} {{ user.getSurname() }}</h1>
    <table style="border: 1px dotted;">
        <tr>
            <td>Birth date: </td>
            <td>{{ user.getBirthdate().format("M d, Y") }}</td>
        </tr>
        <tr>
            <td>Gender: </td>
            <td>{{ user.getGender() }}</td>
        </tr>
        <tr>
            <td>Description: </td>
            <td>{{ user.getDescription() }}</td>
        </tr>
    </table>
{% endblock %}